.app__menuitem {
	width: 100%;
	margin: 1rem 0;

	display: flex;
	flex-direction: column;

	&-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-name {
		flex: 1;
	}

	&-dash {
		background: var(--color-golden);
		width: 340px;
		height: 1px;
		margin: 0 1rem;
	}

	&-price {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}

	&-sub {
		width: 100%;
		margin-top: 0.2rem;
	}
}
